/* Basic styling for the home screen */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    background-color: #f4f4f9;
    text-align: center;
  }
  
  