/* Basic styling for the home screen */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    background-color: #f4f4f9;
    text-align: center;
  }
  
  
  .slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 10%0; 
}

.slides img {
    width: 100%; 
    flex-shrink: 0; 
}
.navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.navigation button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.navigation button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.indicators button {
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.indicators button.active {
  background-color: rgba(255, 255, 255, 0.9);
}

  